<%- include("includes/header") %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<body>
  <form class="login_container" action="/shoes/login" method="POST">
    <div class="login_frame" style="height: 460px">
      <div class="login_top">
        <span>Enter page</span>
        <div>
          Back to Home page <a href="/shoes" style="color: #6440fb">Home</a>
        </div>
        <p>
          Already signed up?<a href="/shoes/sign-up" style="color: #6440fb"
            >Sign up</a
          >
        </p>
      </div>
      <div class="label_input_frame">
        <div class="login_input_container">
          <label>User name:</label>
          <input
            type="text"
            name="mb_nick"
            placeholder="User name"
            value=""
            required
          />
        </div>
        <div class="login_input_container">
          <label>Enter password </label>
          <input
            type="password"
            name="mb_password"
            placeholder="Password"
            value=""
            required
          />
        </div>
      </div>
      <button class="login_btn" name="login" type="submit">Enter</button>
    </div>
  </form>
</body>
<%- include("includes/footer") %>
