<%- include("includes/header") %>
<body>
  <h1>My restaurant page</h1>
  <% if(!member){%>
  <h2>siz authenticated emassiz</h2>
  <% } else {%>
  <h2>
    Siz authenticated bo'lgansiz va sizning nickingiz <%= member.mb_nick%>,
    hamda sizning telefon raqamingiz <%= member.mb_phone%>
  </h2>
  <%}%>
</body>
<%- include("includes/footer") %>
