<%- include("includes/header") %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<body>
  <form
    onsubmit="return validateSignUpForm()"
    action="/resto/sign-up"
    class="login_container"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span>Ro'yhatdan o'tish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yhatdan allaqachon o'tganmisiz?
          <a href="/resto/login" style="color: #6440fb">Login</a>
        </p>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Foydalanuvchining ismi</label
          ><input
            type="text"
            name="mb_nick"
            placeholder="Foydalanuvchining ismi"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label>Telefon raqami</label
          ><input
            type="text"
            name="mb_phone"
            placeholder="Telefon raqami"
            value=""
            required
          />
        </div>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Password</label
          ><input
            type="password"
            name="mb_password"
            placeholder="passwordni kiriting"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label>Passwordni tasdiqlash</label
          ><input
            type="password"
            name="mb_confirm_password"
            placeholder="passwordni qayta kiriting"
            value=""
            required
          />
        </div>
      </div>
      <div class="login_input_frame">
        <div class="media-frame">
          <img
            src="/images/default_resto.jpeg "
            class="upload_img_frame"
            alt=""
          />
          <div class="upload_container">
            <span class="media_text">Taom rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload-name"
                value="Rasmni tanglang"
                disabled="disabled"
              />
              <label for="input_file">Rasmni Yuklash</label>
              <input
                type="file"
                value=""
                required
                name="restaurant_img"
                id="input_file"
                class="upload-hidden form-control-file restaurant_img"
              />
            </div>
            <p class="thumbnail_desc">
              Oshhona rasmingizni bu yerga yuklang. <br />Muhim korsatmalar:
              .jpg, .jpeg, yoki .png <br />
              rasmda matn yo'q bo'lishi darkor!
            </p>
          </div>
        </div>
      </div>
      <button class="login_btn btn" name="signup" type="submit">
        Ro'yhatdan o'tish
      </button>
    </div>
  </form>
  <script>
    $(function () {
      let fileTarget = $(".filebox .upload-hidden");
      let filename;
      fileTarget.on("change", function () {
        if (window.FileReader) {
          const uploading_file = $(this)[0].files[0];
          const fileType = uploading_file["type"];
          const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
          if (!validImageTypes.includes(fileType)) {
            alert(
              "Iltimos ruxsat etilgan formatdagi rasmlarni yuklang: jpg, jpeg va png"
            );
          } else {
            if (uploading_file) {
              console.log(URL.createObjectURL(uploading_file));
              $(".upload_img_frame")
                .attr("src", URL.createObjectURL(uploading_file))
                .addClass("success");
            }
            filename = uploading_file.name;
          }
        }

        $(this).siblings(".upload-name").val(filename);
      });
    });

    function validateSignUpForm() {
      const mb_nick = $(".mb_nick").val();
      const mb_phone = $(".mb_phone").val();
      const mb_password = $(".mb_password").val();
      const mb_confirm_password = $(".mb_confirm_password").val();
      const retaurant_img = $(".restaurant_img").get(0).files[0] ?? null;

      if (
        mb_nick == "" ||
        mb_password == "" ||
        mb_confirm_password == "" ||
        mb_phone == ""
      ) {
        alert("Iltimos hamma ma'lumotlarni kiriting");
        return false;
      } else if (mb_password !== mb_confirm_password) {
        alert("Iltimos passwordni to'g'ri kiriting");
        return false;
      }

      if (!restaurant_img) {
        alert("Iltimos rasmni yuklang!");
        return false;
      }

      return true;
    }
  </script>
</body>
<%- include("includes/footer") %>
